
.navigable-element {
    color: var(--selected-ui, #00c6ff) !important;
}

.MuiBreadcrumbs-separator {
    color: var(--selected-ui, #00c6ff) !important;
}

.current-element {
    color: var(--ui-03, #ffffff) !important;
}
